services:
  webapp:
    build: .
    ports:
      - "3000:3000"
      - "5001:5001"
    environment:
      - MONGO_HOST=mongodb
      - MONGO_PORT=27017
    depends_on:
      - mongodb
    volumes:
      - ./front-init:/app/front-init

  mongodb:
    image: mongo:7.0
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=messages_db

volumes:
  mongodb_data:

